<section class="container how-container">
    <div class="container works-img">
        <img class="container women" srcset="img/how-it-works/image-how-mob@2x.jpg 2x"
            src="img/how-it-works/image-how-mob.jpg" alt="women" width="335" height="452" />
    </div>

    <div class="works-content">
        <h2 class="visually-hidden">How it works</h2>
        <h3 class="order">To order your <span class="part-order">vegetable</span> basket, simply follow these <span
                class="part-order">easy steps</span></h3>
        <p class="bascket">Our baskets are assembled with care and delivered straight to your doorstep, so you can
            enjoy the taste of fresh fruit without ever leaving your home.
        </p>
        <ol class="works-ol">
            <li class="works-list">Just choose <span class="part-li">the vegetable</span> you want to order by
                clicking on the
                checkboxes <span class="part-li">next to it</span>.</li>
            <li class="works-list">Click on <span class="part-li">the basket</span> and fill out the form.</li>
            <li class="works-list">Sit back and relax! Your <span class="part-li">fresh vegetables</span> basket
                will be delivered.
            </li>
        </ol>

    </div>
</section>