<section class="section-how" id="how-it-works">
    <div class="container works-img">
        <picture>
            <source srcset="img/how-it-works/image-how-desk@2x.jpg 2x, img/how-it-works/image-how-desk@1x.jpg"
                media="(min-width: 1280px)">
            <source srcset="img/how-it-works/image-how-tab@2x.jpg 2x, img/how-it-works/image-how-tab@1x.jpg"
                media="(min-width: 768px) and (max-width: 1279px)">
            <source srcset="img/how-it-works/image-how-mob@2x.jpg 2x, img/how-it-works/image-how-mob@1x.jpg"
                media="(max-width: 767px)">
            <img src="img/how-it-works/image-how-mob@1x.jpg" alt="women" width="335" height="452" />
        </picture>
    </div>

    <div class="container works-content">
        <h2 class="visually-hidden">How it works</h2>
        <h3 class="order">To order your <span class="part-order">vegetable</span> basket, simply follow these <span
                class="part-order">easy steps</span></h3>
        <p class="bascket">Our baskets are assembled with care and delivered straight to your doorstep, so you can
            enjoy the taste of fresh fruit without ever leaving your home.
        </p>
        <ol class="ol-list">
            <li>
                <p>Just choose the <span class="part-li">vegetable</span> you want to order by clicking on the
                    checkboxes
                    <span class="part-li">next to it</span>.
                </p>
            </li>
            <li>
                <p>Click on the <span class="part-li">basket</span> and fill out the form.</p>
            </li>
            <li>

                <p>Sit back and relax! Your <span class="part-li">fresh vegetables</span> basket will be delivered.
                </p>
            </li>

        </ol>
    </div>
</section>