<section class="how-it-works">
    <div class="container works-img">
        <picture>
            <source srcset="img/how-it-works/image-how-desk@2x.jpg, img/how-it-works/image-how-desk.jpg"
                media="(min-width: 1292px)">
            <source srcset="img/how-it-works/image-how-tab@2x.jpg, img/how-it-works/image-how-tab.jpg"
                media="(min-width: 768px) and (max-width: 1291px)">
            <source srcset="img/how-it-works/image-how-mob@2x.jpg, img/how-it-works/image-how-mob.jpg"
                media="(max-width: 768px)">
            <img src="img/how-it-works/image-how-mob.jpg" alt="Description of the image" alt="women" width="640"
                height="640" />
        </picture>
    </div>

    <div class="container works-content">
        <h2 class="visually-hidden">How it works</h2>
        <h3 class="order">To order your <span class="part-order">vegetable</span> basket, simply follow these <span
                class="part-order">easy steps</span></h3>
        <p class="bascket">Our baskets are assembled with care and delivered straight to your doorstep, so you can
            enjoy the taste of fresh fruit without ever leaving your home.
        </p>
        <ol class="ol-list">
            <li>
                <span class="ol-number">1</span>
                <p>Just choose the <span class="part-li">vegetable</span> you want to order by clicking on the
                    checkboxes
                    <span class="part-li">next to it</span>.
                </p>
            </li>
            <li>
                <span class="ol-number">2</span>
                <p>Click on the <span class="part-li">basket</span> and fill out the form.</p>
            </li>
            <li>
                <span class="ol-number">3</span>
                <p>Sit back and relax! Your <span class="part-li">fresh vegetables</span> basket will be delivered.
                </p>
            </li>
        </ol>


    </div>
</section>