<section class="vegetables" id="vegetables">
  <div class="container">
    <h2 class="vegetables-title">
      Organic <span class="vegetables-span"> vegetables </span>
    </h2>
    <p class="vegetables-article">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>

    <ul class="vegetables-list">
      <li class="vegetables-list-li">
        <div class="vegetables-list-li-text">
          <h3 class="vegetables-li-title">eggplant</h3>
          <p class="vegetables-li-article">60 USD / kg</p>
        </div>
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1280px)"
            srcset="
              img/vegetables/img-eggplant-desk.png    1x,
              img/vegetables/img-eggplant-desk@2x.png 2x
            "
          />

          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              img/vegetables/img-eggplant-tab.png    1x,
              img/vegetables/img-eggplant-tab@2x.png 2x
            "
          />

          <!-- Mobile -->
          <source
            media="(max-width: 767px)"
            srcset="
              img/vegetables/img-eggplant-mob.png    1x,
              img/vegetables/img-eggplant-mob@2x.png 2x
            "
          />

          <img
            src="img/vegetables/img-eggplant-desk.png"
            alt="eggplant"
            width="280"
            height="244"
          />
        </picture>
      </li>

      <li class="vegetables-list-li">
        <div class="vegetables-list-li-text">
          <h3 class="vegetables-li-title">leek</h3>
          <p class="vegetables-li-article">50 USD / kg</p>
        </div>
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1280px)"
            srcset="
              img/vegetables/img-leek-desk.png    1x,
              img/vegetables/img-leek-desk@2x.png 2x
            "
          />

          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              img/vegetables/img-leek-tab.png    1x,
              img/vegetables/img-leek-tab@2x.png 2x
            "
          />

          <!-- Mobile -->
          <source
            media="(max-width: 767px)"
            srcset="
              img/vegetables/img-leek-mob.png    1x,
              img/vegetables/img-leek-mob@2x.png 2x
            "
          />

          <img
            src="img/vegetables/img-leek-desk.png"
            alt="leek"
            width="280"
            height="244"
          />
        </picture>
      </li>

      <li class="vegetables-list-li">
        <div class="vegetables-list-li-text">
          <h3 class="vegetables-li-title">mushrooms</h3>
          <p class="vegetables-li-article">40 USD / kg</p>
        </div>
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1280px)"
            srcset="
              img/vegetables/img-mooshroom-desk.png    1x,
              img/vegetables/img-mooshroom-desk@2x.png 2x
            "
          />

          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              img/vegetables/img-mooshroom-tab.png    1x,
              img/vegetables/img-mooshroom-tab@2x.png 2x
            "
          />

          <!-- Mobile -->
          <source
            media="(max-width: 767px)"
            srcset="
              img/vegetables/img-mooshroom-mob.png    1x,
              img/vegetables/img-mooshroom-mob@2x.png 2x
            "
          />

          <img
            src="img/vegetables/img-mooshroom-desk.png"
            alt="mushroom"
            width="280"
            height="244"
          />
        </picture>
      </li>

      <li class="vegetables-list-li">
        <div class="vegetables-list-li-text">
          <h3 class="vegetables-li-title">corn</h3>
          <p class="vegetables-li-article">60 USD / kg</p>
        </div>
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1280px)"
            srcset="
              img/vegetables/img-corn-desk.png    1x,
              img/vegetables/img-corn-desk@2x.png 2x
            "
          />

          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              img/vegetables/img-corn-tab.png    1x,
              img/vegetables/img-corn-tab@2x.png 2x
            "
          />

          <!-- Mobile -->
          <source
            media="(max-width: 767px)"
            srcset="
              img/vegetables/img-corn-mob.png    1x,
              img/vegetables/img-corn-mob@2x.png 2x
            "
          />

          <img
            src="img/vegetables/img-corn-desk.png"
            alt="corn"
            width="280"
            height="244"
          />
        </picture>
      </li>

      <li class="vegetables-list-li">
        <div class="vegetables-list-li-text">
          <h3 class="vegetables-li-title">sweet potatoes</h3>
          <p class="vegetables-li-article">50 USD / kg</p>
        </div>
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1280px)"
            srcset="
              img/vegetables/sweet potatoes.png 1x,
              img/vegetables/pic mobile@2x.png 2x"
          />

          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              img/vegetables/img-potato-tab.png    1x,
              img/vegetables/img-potato-tab@2x.png 2x
            "
          />

          <!-- Mobile -->
          <source
            media="(max-width: 767px)"
            srcset="
              img/vegetables/img-potato-mob.png    1x,
              img/vegetables/img-potato-mob@2x.png 2x
            "
          />

          <img
            src="img/vegetables/sweet potatoes.png"
            alt="sweet potatoes"
            width="280"
            height="244"
          />
        </picture>
      </li>

      <li class="vegetables-list-li">
        <div class="vegetables-list-li-text">
          <h3 class="vegetables-li-title">carrot</h3>
          <p class="vegetables-li-article">40 USD / kg</p>
        </div>
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1280px)"
            srcset="
              img/vegetables/img-carrot-desk.png    1x,
              img/vegetables/img-carrot-desk@2x.png 2x
            "
          />

          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              img/vegetables/img-carrot-tab.png    1x,
              img/vegetables/img-carrot-tab@2x.png 2x
            "
          />

          <!-- Mobile -->
          <source
            media="(max-width: 767px)"
            srcset="
              img/vegetables/img-carrot-mob.png    1x,
              img/vegetables/img-carrot-mob@2x.png 2x
            "
          />

          <img
            src="img/vegetables/img-carrot-desk.png"
            alt="carrot"
            width="280"
            height="244"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
