header {
    position: absolute;
    top: 20px;
}
.svg {
    fill: #FBFBFB;
}
@media only screen and (min-width:768px) {
    .header {
        top: 32px;
    }
}

.header-container {
    display: flex;
    align-items: center;
}

.logo-header {
}

@media only screen and (min-width:768px) {
    .logo-header {
        margin-right: 448px;
    }
}

@media only screen and (min-width:1280px) {
    .logo-header {
        margin-right: 366px;
    }
}

@media only screen and (min-width:768px) {
    .icon-logo {
        width: 216px;
        height: 20px;
    }
}

.nav-list {
    display: none;
}

@media only screen and (min-width:1280px) {
    .nav-list {
        display: flex;
        gap: 8px;
        margin-right: 20px;
    }
}

.nav-li {
    white-space: nowrap;
    color: #FBFBFB;
    background-color: transparent;
    border: 1px solid #FBFBFB;
    padding: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    border-radius: 12px;
    text-align: center;
}

.nav-li:hover {
    background-color: #D4BFC4;
    color: #7A3145;
    border-color: #7A3145;
}

.nav-li:active {
    background-color: #FBFBFB;
    color: #7A3145;
    border-color: #FBFBFB;
}

.shop-btn-header {
    display: none;
}

@media only screen and (min-width:1280px) {
    .shop-btn-header {
        display: flex;
    }
}

.hedder-burger {
    width: 32px;
    height: 32px;
    align-items: center;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
}

@media only screen and (min-width:1280px) {
    .hedder-burger {
        display: none;
    }
}

.mobail-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #576F35;
    ;
    padding: 296px 0 52px;
    transform: translateX(100%);
    transition: 300ms ease-in;
    transition-property: transform;
}

@media only screen and (min-width:768px) {
    .mobail-menu {}
}

@media only screen and (min-width:1280px) {
    .mobail-menu {
        display: none;
    }
}

.mobail-menu.is-open {
    transform: translateX(0);
}

.mobail-btn-close {
    position: absolute;
    display: flex;
    top: 20px;
    right: 20px;
    padding: 0;
    border: none;
    background-color: #576F35;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobail-menu-nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mob-li {
    color: #7A3145;
    background-color: #FBFBFB;
    border: 1px solid #FBFBFB;
    padding: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    border-radius: 12px;
    text-align: center;
}

.mob-li:active {
    background-color: #FBFBFB;
    color: #7A3145;
    border-color: #FBFBFB;
}

.shop-btn {
    white-space: nowrap;
    margin-top: auto;
    color: #FBFBFB;
    background-color: #7A3145;
    padding: 16px 32px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    border: none;
    border-radius: 30px;
}

.shop-btn:hover {
    background-color: #D4BFC4;
    color: #7A3145;
    border-color: #7A3145;
}

.shop-btn:active {
    background-color: #FBFBFB;
    color: #7A3145;
    border-color: #FBFBFB;
}