.hero {
    background-color: #576f35;
    padding: 100px 0 0 0;
}


.hero-text-block {
    margin-bottom: 40px;
}

.hero-title {
    font-weight: 600;
    font-size: 52px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;

    word-wrap: break-word;
    margin-bottom: 20px;
}

.hero-subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    color: #fbfbfb;
}

.background {
    background-image: linear-gradient(rgba(20, 20, 20, 0.2),
            rgba(20, 20, 20, 0.2)),
        url(../img/hero/image-bg-mob.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 372px;
}

@media (min-resolution: 921dpi),
(min-resolution: 2dppx) {
    .background {
        background-image: linear-gradient(rgba(20, 20, 20, 0.2),
                rgba(20, 20, 20, 0.2)),
            url(../img/hero/image-bg-mob@2x.jpg);
    }
}

@media only screen and (min-width: 768px) {
    .hero{
        padding-top: 120px;
    }
    .block{
        display: flex;
    }
    .hero-title {
        font-size: 76px;
        margin-bottom: 24px;
    }

    .hero-subtitle {
        font-size: 16px;
        line-height: 1.25;
        width: 603px;
    }

    .hero-text-block {
        margin-bottom: 52px;
    }

    .background {
        background-image: linear-gradient(rgba(20, 20, 20, 0.2),
                rgba(20, 20, 20, 0.2)),
            url(../img/hero/image-bg-tab.jpg);
        height: 536px;
    }
}

@media screen and (min-width: 768px) and (min-resolution: 921dpi),
(min-resolution: 2dppx) {
    .background {
        background-image: linear-gradient(rgba(20, 20, 20, 0.2),
                rgba(20, 20, 20, 0.2)),
            url(../img/hero/image-bg-tab@2x.jpg);
    }
}

@media only screen and (min-width: 1280px) {
    .hero{
        width: 100%;
        display: flex;
        padding: 232px 0 52px 0;
        background-image: linear-gradient(rgba(20, 20, 20, 0.2),
                        rgba(20, 20, 20, 0.2)),
                    url(../img/hero/Image-bg-desk.jpg);
        background-position: 100% 0;
        background-size: 50vw;
        background-repeat: no-repeat;
        
    }
    .hero-wrapp{
        width: 100%;
        display: flex;
        margin: 0 auto;
    }

    .block{
        width: 100%;
            flex-direction: row;
            padding-right: 0;
    }
    .hero-title {
        width: 504px;
        margin-bottom: 128px;
    }

    .hero-subtitle {
        padding: 0;
        max-width: 472px;
    }

    .hero-text-block {
        margin-bottom: 0;
    }

    .background {
        display: none;
        background-image: linear-gradient(rgba(20, 20, 20, 0.2),
                rgba(20, 20, 20, 0.2)),
            url(../img/hero/Image-bg-desk.jpg);
        width: 640px;
        height: 796px;
    }
}

@media screen and (min-width: 1280px) and (min-resolution: 921dpi),
(min-resolution: 2dppx) {
    .background {
        background-image: linear-gradient(rgba(20, 20, 20, 0.2),
                rgba(20, 20, 20, 0.2)),
            url(../img/hero/Image-bg-desk@2x.jpg);
    }
}
