header {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 20px;
}
@media only screen and (min-width: 768px) {
  .header {
    top: 32px;
  }
}
.svg {
  fill: #fbfbfb;
}
.header-container {
  display: flex;
  align-items: center;
}

.logo-header {
}

@media only screen and (min-width: 768px) {
  .logo-header {
    margin-right: 448px;
  }
}

@media only screen and (min-width: 1280px) {
  .logo-header {
    margin-right: 366px;
  }
}

@media only screen and (min-width: 768px) {
  .icon-logo {
    width: 216px;
    height: 20px;
  }
}

.nav-list {
  display: none;
}

@media only screen and (min-width: 1280px) {
  .nav-list {
    display: flex;
    gap: 8px;
    margin-right: 20px;
  }
}

.nav-li {
  white-space: nowrap;
  color: #fbfbfb;
  background-color: transparent;
  border: 1px solid #fbfbfb;
  padding: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  border-radius: 12px;
  text-align: center;
}

.nav-li:hover {
  background-color: #d4bfc4;
  color: #7a3145;
  border-color: #7a3145;
}

.nav-li:active {
  background-color: #fbfbfb;
  color: #7a3145;
  border-color: #fbfbfb;
}

.shop-btn-header {
  display: none;
}

@media only screen and (min-width: 1280px) {
  .shop-btn-header {
    display: flex;
  }
}

.hedder-burger {
  width: 32px;
  height: 32px;
  align-items: center;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media only screen and (min-width: 1280px) {
  .hedder-burger {
    display: none;
  }
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.shop-btn {
  white-space: nowrap;
  margin-top: auto;
  color: #fbfbfb;
  background-color: #7a3145;
  padding: 16px 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  border: none;
  border-radius: 30px;
}

.shop-btn:hover {
  background-color: #d4bfc4;
  color: #7a3145;
  border-color: #7a3145;
}

.shop-btn:active {
  background-color: #fbfbfb;
  color: #7a3145;
  border-color: #fbfbfb;
}

/* #region Modal header */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.4);
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibillity 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 99;
}

@media only screen and (min-width: 1280px) {
  .backdrop {
    display: none;
  }
}

.mobile-menu {
  position: relative;
  background-color: #576f35;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 296px;
  padding-bottom: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    right: 0;
    width: 351px;
    height: 100%;
    padding-top: 360px;
    padding-bottom: 48px;
  }
}

.menu-close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: none;
}

.close-icon {
  fill: #fbfbfb;
}

.menu-list {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.menu-link {
  display: block;
  min-width: 118px;
  height: 44px;
  padding: 12px 12px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #fbfbfb;
  border: 1px solid #fbfbfb;
  border-radius: 12px;
}

@media only screen and (min-width: 768px) {
  .menu-link {
    min-width: 122px;
  }
}

.menu-shop-btn {
  display: block;
  border-radius: 30px;
  padding: 16px 41px;
  min-width: 175px;
  min-height: 52px;
  background-color: #7a3145;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  border: none;
}
/* #endregion */
