:root {
    /* font-family: Inter Tight, sans-serif; */
    font-family: 'Inter Tight', sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 500;

    color: #141414;
    background-color: pink;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Styles for Mobile devices */
.container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1292px) {
    .container {
        max-width: 1292px;
        padding: 0 12px;
    }
}

.your-order {
    background-color: #576f35;

}

.fresh-box{
    margin-bottom: 40px;
}

.subtitle {
font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 48px;

    /* line-height: 52px; */
    line-height: 1.08;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    margin-bottom: 20px;
}

.text-title {
    color: #d4bfc4;
}

.subtitle-text {
    font-family: "Inter Tight", sans-serif;
        font-weight: 500;
        font-size: 14px;
    
        /* line-height: 20px; */
        line-height: 1.43;
        color: #fbfbfb;
}

.modal {
    display: flex;
        
        justify-content: flex-start;
        flex-direction: column;
        gap: 40px;
        border-radius: 30px;
            padding: 40px 20px;
            
            background: #fbfbfb;
}

.modal-caption {
    font-family: "Inter Tight", sans-serif;
        font-weight: 600;
        font-size: 28px;
    
        /* line-height: 28px; */
        line-height: 1;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #141414;
}

.text-modal-title {
    color: #7a3145;
}

.text-modal-title-green {
    color: #576f35;
}

.modal-form {
    display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 20px;
}

.modal-form-field {}

.modal-form-label {}

.modal-form-wrapper {
    
}

.modal-form-input {

    border: 1px solid #858585;
        border-radius: 30px;
        padding: 14px 16px;
        min-width: 295px;
            height: 48px;
    
        font-weight: 500;
        font-size: 14px;
    
        /* line-height: 20px; */
        line-height: 1.43;
        
        color: #141414;
}

.modal-form-message {
    border: 1px solid #858585;
        border-radius: 15px;
        padding: 14px 16px;
        min-width: 295px;
        min-height: 92px;
}

.btn {border-radius: 30px;
    padding: 16px 129px;
    min-width: 295px;
    height: 52px;
    background: #7a3145;
    
        font-weight: 600;
        font-size: 18px;
    
        /* line-height: 20px; */
        line-height: 1.11;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #fbfbfb;
}

.btn-accent {
    color: ;
}

.socials {}

.socials-img {}

.order-img {}

.socials-group {}

.socials-subtitle {}

.socials-item {}

.socials-link {}